.media {
    width: 60px;
    position: absolute;
    top: 200px;
    right: 0px;
    background-color: lightblue;
    border: 5px;
    border-color: white;
    border-style: groove;
}
.media img {
    width: 40px;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#leftcolumn {
    width: 50%;
    float: left
}
#rightcolumn {
    width: 50%;
    float: right
}
#largeImgPanel {
    text-align: center;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.5);
}