.media {
    width: 60px;
    position: absolute;
    top: 200px;
    right: 0px;
    background-color: lightblue;
    border: 5px;
    border-color: white;
    border-style: groove;
}
.media img {
    width: 40px;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#leftcolumn {
    width: 50%;
    float: left
}
#rightcolumn {
    width: 50%;
    float: right
}