.media {
    width: 60px;
    position: absolute;
    top: 200px;
    right: 0px;
    background-color: lightblue;
    border: 5px;
    border-color: white;
    border-style: groove;
}
.media img {
    width: 40px;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#leftcolumn {
    width: 50%;
    float: left
}
#rightcolumn {
    width: 50%;
    float: right
}
#background {
    background-image: url("/images/art/back.jpeg");
    background-attachment: fixed;
}
#backgroundtwo {
    background-image: url("/images/art/back2.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
}
#backgroundthree {
    background-image: radial-gradient(circle, #E6E1C7, #D64B12);
}
.shadow {
    box-shadow: 10px 10px 10px #1C1C1C;
}
.rounded {
    border-radius: 3px;
}
.padded {
    padding: 20px;
}
.bordered {
    border: 2px solid #000;
}
.photothumb {
    width: 180px;
    height: 140px;
}