body {
    color: white;
    padding: 0px;
    margin: 0px;
    background-attachment: fixed;
    background-size: cover;
}

hr {
    border: 0;
    height: 1px;
    background-color: white;
    margin-top: 35px;
    margin-bottom: 35px;
}

.container {
    padding: 25px;
}

div {
    padding: inherit;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
}

h4 {
    text-align: left;
}

p {
    text-align: justify;
}